* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4 {
    font-family: 'Martel', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.bkg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section {
    padding: 30px 10vw;
}

.yellow-span {
    display: inline-block;
    height: 3px;
    width: 25px;
    background-color: #BF964D;
    margin-right: 10px;
    border-radius: 20px;
}

.hero {
    background-image: url('../images/hero.jpg');
    height: calc(var(--vh, 1vh) * 100);
    background-position: bottom center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10vw;
}

.hero .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.hero h2 {
    color: #fff;
    font-weight: 500;
    line-height: 2.6rem;
    margin: 18px 0 0 0;
    font-size: 2.4rem;
}

/* SECTION TWO */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-two-flexbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #414042;
    margin-top: 30px;
}

.section-two-flexbox div img {
    width: 70px;
}

/* SECTION THREE */

.section-three {
    /* background-image: url(../images/section-three-bkg.jpg); */
    color: #fff;
    padding: 50px 10vw;
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-title span {
    width: 45px;
}

.section-title h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.8rem;
    margin-top: 18px;
}

.section-three p {
    padding-left: 45px;
    font-size: 0.9rem;
}

/* SECTION FOUR */

.section-four {
    text-align: center;
}

.section-four h3 {
    margin-bottom: 5px;
}

.staff-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.staff-item {
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.staff-item-bott {
    position: absolute;
    bottom: 3px;
    width: 100%;
    background-color: rgba(37,65,70,0.8);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.staff-item-bott div:nth-child(1) {
    text-align: left;
}

.staff-item-bott h4 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.staff-item-bott p {
    margin: 0;
    font-size: 0.9rem;
}

.staff-item-bott img {
    width: 25px;
}

.staff-item-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(37,65,70,0.8);
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px 10% 30px 10%;
    justify-content: center;
    align-content: center;
    /* background-blend-mode: multiply; */
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.staff-info-show {
    visibility: visible;
    opacity: 1;
}

.staff-item-info h4,p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.staff-item-info p {
    overflow-y: scroll;
}

.staff-item-info-corner {
    position: absolute;
    right: 6px;
    bottom: 10px;
}

.staff-item-info-corner a {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
}

/* SECTION FIVE */

.section-five {
    /* background-image: url('../images/section-three-bkg.jpg'); */
    color: #fff;
    padding: 50px 10vw;
}

.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.service-item {
    padding: 20px;
    margin: 10px 0;
    font-size: 0.9rem;
}

.service-item p:nth-child(1) {
    font-weight: 700;
}

.service-item:nth-child(odd) {
    background-color: rgba(37,65,70,0.9);
}

.service-item:nth-child(even) {
    background-color: rgba(255,255,255,0.8);
    color: #000;
}

/* CONTACT */

.contact {
    padding: 60px 10vw 80px 10vw;
    position: relative;
}

.contact-bkg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* CONTACT FORM */

form {
    margin-top: 30px;
}

input,textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

input[type="submit"] {
    width: 100px;
    border: none;
    display: block;
    margin: 20px auto 0 auto;
    background-color: rgb(37,65,70);
    color: #fff;
}

/* FOOTER */

footer {
    background-color: rgba(37,65,70,0.9);
    padding: 10px 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 150px;
}

footer h6 {
    font-weight: 300;
}